:root {
    --clr-primary-red: hsl(0, 100%, 67%);
    --clr-primary-orange: hsl(39, 100%, 56%);
    --clr-primary-green: hsl(166, 100%, 37%);
    --clr-primary-cobalt: hsl(234, 85%, 45%);

    --clr-gradient-slate: hsl(252, 100%, 67%);
    --clr-gradient-royal: hsl(241, 81%, 54%);
    --clr-gradient-violet: hsla(256, 72%, 46%, 1);
    --clr-gradient-persian: hsla(241, 72%, 46%, 0);

    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-pale-blue: hsl(221, 100%, 96%);
    --clr-neutral-light-lavander: hsl(241, 100%, 89%);
    --clr-neutral-dark-grey: hsl(224, 30%, 27%);

    --ff-base: 'Hanken Grotesk', sans-serif;

    --fs-default: 18px;

    --fw-default: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3 {
    line-height: 1;
}
/*
  9. Create a root stacking context
*/


body {
    display: grid;
    place-content: center;
    font-family: var(--ff-base);
    font-weight: var(--fw-default);
}

.results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
    max-height: 500px;
    height: 100vh;
}

.results__summary {
    display: grid;
    grid-template-rows: 1.5fr 3fr 3fr;
    place-content: center;
    background: linear-gradient(var(--clr-gradient-slate), var(--clr-gradient-royal));
    border-radius: 2em;
}

.summary__title {
    color: var(--clr-neutral-pale-blue);
}

.summary__title, .summary__score, .summary__description {
    justify-self: center;
    align-self: center;
}


.attribution {
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

